@keyframes riseUp {
  from {
    opacity: 0;
    transform: translateY(10%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.sponsor-rise {
  animation: riseUp 1s ease-out forwards;
}
