@import '../../../../vendor/filament/filament/resources/css/theme.css';
@import '../../app.css';

/* Tailwind is already included in Filament's theme.css */
/* @tailwind base; */
/* @tailwind components; */
/* @tailwind utilities; */

/* Add custom theme styles here */
/* Default Filament Theme */
